@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

*{
    font-family: 'Lato', sans-serif;
}

ul{
    padding: 0;
}

.section-title{
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-sub-title{
    letter-spacing: 2px;
}

footer{
    background: #080808;
}
.footer-links{
  display: flex; 
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.footer-links li{
    padding: 5px 10px;
    font-size: 1rem;
    text-transform: capitalize;
}

.footer-links li a{
    color: #b7b7cc !important; 
    /* #b3aca7 */
}

li::marker{
    content: none !important;
}


/* Skill Section */
#skill .skill-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#skill .skill-container .skill-card{
    font-size: 2rem;
    text-align: center;
    background-color: #1f1c1c;
    color: #fff;
    width: 85px;
    height: 90px;
    padding: 10px 0px;
    margin: 5px;
    border-radius: .5rem;
}

#skill .skill-container .skill-card .skill-title{
    font-size: .8rem;
}

.pf-text-white{
    color: #726659 !important;
    line-height: 1.8;
}