footer{
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.footer-links{
  display: flex; 
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.footer-links li{
    padding: 5px 10px;
    font-size: 1rem;
    text-transform: capitalize;
}

.footer-links li a{
    color: #b7b7cc !important;
}