@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

*{
    font-family: 'Lato', sans-serif;
}

.section-title{
    letter-spacing: 2px;
}

footer{
    background: #080808;
}
.footer-links{
  display: flex; 
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.footer-links li{
    padding: 5px 10px;
    font-size: 1rem;
    text-transform: capitalize;
}

.footer-links li a{
    color: #b7b7cc !important; 
    /* #b3aca7 */
}

li::marker{
    content: none !important;
}
